body{
  
    margin: 0px;
    font-family: 'Inter';
    overflow: hidden;
}

.navbar-l{
    border-bottom: 1px black solid;
    position: fixed;
    width: 100%;
  
    padding: 2vh;
    height: 5vh;
    background-color: white;
    z-index: 2;
}

.menu-contain{
    display: flex;
    float: right;
}

.dhb-icon{
   
    margin-left: 25px;
}

.menu-l{
  padding-left: 35px;
  padding-right: 35px;
  color: gray;
  font-weight:400;
  padding-top: 0.7vh;
  font-size: 2.2vh; 
}


.main-contain{
    display: flex;
    width: 100%;
    /* background-color: yellow; */
    height: 99vh;
    /* C1E8C3 */
}

.left-contain{
    width: 40%;
}

.right-contain{
    /* background-color: aqua; */
    width: 60%;
}


.build-capacity{
    background-color: #377B65;
}

.back-tools{
    padding: 3vh;
    color: white;
    font-size: 1.5vh;
}


.build-text{
    color: white;
    font-size: 2.3vh;
    padding-top: 2.2vh;
    padding-left: 23px;
    font-weight: bold;
}

.scnd-contain{
    display: flex;
    margin-left: 5px;
    margin-top: 0.6vh;
    justify-content: space-between
}

.rgn-int-box{
    background-color: #C1E8C3;
    width: 100%;
    font-size: 1.9vh;
    margin-right: 10px;
    padding-bottom: 0.6vh;
    padding-top: 0.6vh;

}

.text-right{
    font-size: 1.35vh;
    padding: 0.6vh;
}

.scnd-left{
    width: 38%;
    height: 42vh;
    margin: 0;
    background-color: aqua;
  
}

.scnd-right{
    height: 42vh;
    margin: 0;
    width: 60%;
    background-color: #F3F5F5;
}

.third-con{
    margin-left: 5px;
    margin-top: 0.6vh;

    height: 18vh;
    background-color: #F3F5F5;
}


.right-contain{
    transform: scale(0.83);
    position: absolute;
    left: 35%;
    top: -2%;
  
    /* margin-top: -200px; */
    /* z-index: -1; */

}


.fourth-con{
    margin-left: 5px;
    margin-top: 0.6vh;

    height: 18vh;
    background-color: #F3F5F5;
}



.scale-tr{
    position: absolute;
    top: 15%;
    right: 2%;
    border: solid black 1px;
}

.sq-lin{
    width: 2.7vh;
    height: 2.7vh;
    display: block;
    margin-top: 4px;
   
    background-color: #377B65;
    margin-right: 15px;
    
}

.sq-cir{
    width: 2.7vh;
    height: 2.7vh;
    display: block;
    background-color: #377B65;
    margin-right: 15px;
    margin-top: 4px;
}

.scale-lin{
    display: flex;
    margin: 5px;
    font-size: 2.5vh;
    margin-right: 15px;
   
}

.scale-cir{
    display: flex;
    margin: 5px;
    font-size: 2.5vh;
    margin-right: 15px;
}

.lin-cir-line{
    color: black;
   
    border:  black 0.4px solid;
}


.fill-lin{
    background-color: black;
    position: absolute;
    top: 27%;
    right: 3.4%;
    width: 117px;
    height: 14px;
}


.fill-cir{
    
    position: absolute;
    top: 29.5%;
    right: 3.4%;
    width: 117px;
    height: 14px;
}



.cir-lin-1{
    height: 100%;
    background-color: black;
    width: 25%;
    display: inline-block;
    margin: 0;
    padding: 0;
  
}

.cir-lin-2{
    height: 100%;
    background-color: blue;
    width: 25%;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: -5px;
}

.cir-lin-3{
    height: 100%;
    background-color: yellow;
    width: 25%;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: -5px;
}

.cir-lin-4{
    height: 100%;
    background-color: green;
    width: 25%;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: -5px;
}